body {
   background-color: none;
}

.float-right {
   float: right;
  }
  
.float-left {
   float: left;
}

.inicio {
   background-image: url("../img/fondo.png");
}

.log-in {
   background-color: #000c;
   width: 350px;
   text-align: center;
   color: white;
   height: 400px;
   margin: auto;
}

.w-70 {
   width: 70%;
}

.log-in .button {
   padding: 5px;
  width: 90%;
  background-color: #FFCF96;
  border-color: #FFCF96;
  border-style: solid;
  border-radius: 10px;
}

.log-in .input {
   width: 90%;
  padding: 5px;
  border-color: #ffcf96;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: #0000;
  display: inline-block;
}

.log-in .input input {
   border-style: none;
   background-color: #fff0;
   color: #fffc;
   width: inherit;
   margin-left: 30px;
}

.log-in .input img {
   position: absolute;
   width: 20px;
   height: 20px;
   margin-left: 2px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.log-in h1 {
   color: #FFCF96;
   font-size: 30px;
   margin: 0px;
}

.log-in a {
   font-size: 12px;
   color: #ffffff98;
}

.link {
   text-decoration: none;
   color: #FFCF96;
}

.link:hover {
   color: #bd9768;
   transition: all 0.2s ease-in-out;
}

.navbar h1 {
   color: #FFCF96;
}

.tabla_usuarios {
   width: 100%;
   border: solid 1px black;
   border-collapse: collapse;
   text-align: center;
   margin: auto;
}

.tabla_usuarios td {
   border: solid 1px black;
   border-collapse: collapse;
}

.titulo_panel {
   text-align: center;
}

table .btn {
   width: 100%;
}

.btn {
   --bs-btn-bg:#FFCF96 ;
   --bs-btn-border-color:#FFCF96 ;
   --bs-btn-hover-border-color: #bd9768;
   --bs-btn-hover-bg : #bd9768;
}

.fs-1:link {
   color: black;
   text-decoration: none;
}

.fs-1:visited {
   color: black;
}

.w-45 {
   width: 45%;
}

.w-49 {
   width: 49%;
}

.h-input-sinopsis {
   height: 138px;
}

.fw-bold {
   color:black;
   text-decoration: none;
}